In [2]:
import pandas as pd
from io import StringIO
import unidecode as code

In [3]:
bairros = pd.read_csv("Bairros-Brasil.csv")

In [4]:
bairros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8473808 entries, 0 to 8473807
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   UF          object
 2   Cidade      object
 3   Bairro      object
dtypes: int64(1), object(3)
memory usage: 258.6+ MB

cidades = bairros['Cidade'].to_list()

In [5]:
cidades = bairros['Cidade'].to_list()

In [6]:
cidades_tratadas = []

In [7]:
for cidade in cidades:
  if "(" in cidade:
    cities = "-".join(cidade.replace(")","").lower().split("(")).replace(" ", "-")
    if "--" in cities:
      cidades_tratadas.append(code.unidecode(cities.split("--")[1]))
  else:
    cidades_tratadas.append(code.unidecode(cidade.lower().replace(" ","-")))

In [8]:
print(len(cidades_tratadas))

8473808

In [9]:
estado = [code.unidecode(estado.lower()) for estado in bairros['UF'].to_list()]
bairro = [code.unidecode(bairro.lower()) for bairro in bairros["Bairro"].to_list()]

In [46]:
districts = list()
for district in bairro:
    if "(" in district:
        districts.append(district.split(" (")[0].replace(" ", "-"))
    else:
        districts.append(district.replace(" ", "-"))

In [47]:
localization_brazil = pd.DataFrame(data = {"Estados": estado, "Cidade": cidades_tratadas, "Bairro": districts})

In [48]:
localization_brazil.head(20)

   Estados       Cidade                  Bairro
0       to  abreulandia           setor-central
1       to  abreulandia             abreulandia
2       to  abreulandia           aguiarnopolis
3       to  abreulandia    alianca-do-tocantins
4       to  abreulandia                   almas
5       to  abreulandia                alvorada
6       to  abreulandia            anajanopolis
7       to  abreulandia                  ananas
8       to  abreulandia                  angico
9       to  abreulandia  aparecida-do-rio-negro
10      to  abreulandia                 apinaje
11      to  abreulandia                aragacui
12      to  abreulandia              aragominas
13      to  abreulandia              araguacema
14      to  abreulandia                araguacu
15      to  abreulandia               araguaina
16      to  abreulandia                araguana
17      to  abreulandia              araguatins
18      to  abreulandia                arapoema
19      to  abreulandia                 arraias

In [49]:
estados_do_norte = ["to", "am", "ap","rr", "ro", "ac"]

### Estados do Norte

In [19]:
df_estados_norte = localization_brazil[localization_brazil.Estados.isin(estados_do_norte)]

In [26]:
df_estados_norte.shape

(54665, 3)

Exportando para csv

In [ ]:
df_estados_norte.to_csv("Bairros do Norte.csv")

### Realizando a limpeza dos dados

In [50]:
df_estados_norte.isnull().sum()

Estados    0
Cidade     0
Bairro     0
dtype: int64

In [51]:
print(df_estados_norte.duplicated(keep="last").sum())

#Locais duplicados
df_estados_norte.loc[df_estados_norte.duplicated(['Cidade', "Bairro", "Estados"],keep="last")].iloc[1:10]

16236

    Estados        Cidade                               Bairro
861      to  pedro-afonso                        aguiarnopolis
862      to  pedro-afonso                 alianca do tocantins
863      to  pedro-afonso                                almas
864      to  pedro-afonso                             alvorada
865      to  pedro-afonso          anajanopolis (pedro afonso)
866      to  pedro-afonso                               ananas
867      to  pedro-afonso                               angico
868      to  pedro-afonso               aparecida do rio negro
869      to  pedro-afonso  apinaje (sao valerio da natividade)

### Estados do Centro Oeste

In [52]:
estados_do_centro_oeste = ["go","df", "ms", "mt"]

In [53]:
df_estados_centro_oeste = localization_brazil[localization_brazil.Estados.isin(estados_do_centro_oeste)]

In [55]:
df_estados_centro_oeste.shape

(230155, 3)

Exportando para csv

In [54]:
df_estados_centro_oeste.to_csv("Bairros do Centro Oeste.csv")

### Realizando a limpeza dos dados

In [24]:
df_estados_centro_oeste.isnull().sum()

Estados    0
Cidade     0
Bairro     0
dtype: int64

In [25]:
print(df_estados_centro_oeste.duplicated(keep="last").sum())

#Locais duplicados
df_estados_centro_oeste.loc[df_estados_centro_oeste.duplicated(['Cidade', "Bairro", "Estados"],keep="last")].iloc[1:10]

88186

        Estados   Cidade                            Bairro
8243904      ms  rochedo                        agua clara
8243905      ms  rochedo             albuquerque (corumba)
8243906      ms  rochedo                       alcinopolis
8243907      ms  rochedo  alto sucuriu (paraiso das aguas)
8243908      ms  rochedo                           amambai
8243909      ms  rochedo               amandina (ivinhema)
8243910      ms  rochedo                  amolar (corumba)
8243911      ms  rochedo                         anastacio
8243912      ms  rochedo                      anaurilandia

### Estados do Sudeste

In [56]:
estados_do_sudeste = ["sp", "rj", "es", "mg"]

In [57]:
df_estados_sudeste= localization_brazil[localization_brazil.Estados.isin(estados_do_sudeste)]

In [58]:
df_estados_sudeste.shape

(3318080, 3)

Exportando para Csv

In [13]:
df_estados_sudeste.to_csv("Bairros do Sudeste.csv")

### Realizando a limpeza dos dados

In [29]:
df_estados_sudeste.isnull().sum()

Estados    0
Cidade     0
Bairro     0
dtype: int64

### Estados do Sul

In [28]:
estados_do_sul = ["sc", "pr", "rs"]

In [29]:
df_estados_sul = localization_brazil[localization_brazil.Estados.isin(estados_do_sul)]

In [19]:
df_estados_sul.shape

(2891242, 3)

Exportando para csv

In [81]:
df_estados_sul.to_csv("Bairros do Sul.csv")

### Realizando a limpeza dos dados

In [30]:
df_estados_sul.isnull().sum()

Estados    0
Cidade     0
Bairro     0
dtype: int64

In [31]:
print(df_estados_sul.duplicated(keep="last").sum())

#Locais duplicados
df_estados_sul.loc[df_estados_sul.duplicated(['Cidade', "Bairro", "Estados"],keep="last")]

1713189

        Estados         Cidade                                  Bairro
5352661      pr         castro                                  centro
5352662      pr         castro                          abapa (castro)
5352663      pr         castro                                  abatia
5352664      pr         castro  acampamento das minas (telemaco borba)
5352665      pr         castro             acungui (rio branco do sul)
...         ...            ...                                     ...
8214937      rs  caxias-do-sul               xadrez (coqueiros do sul)
8214938      rs  caxias-do-sul                               xangri-la
8214939      rs  caxias-do-sul                     xarqueada (putinga)
8214940      rs  caxias-do-sul                       xaxim (progresso)
8214941      rs  caxias-do-sul              xiniqua (sao pedro do sul)

[1713189 rows x 3 columns]

### Estados do Nordeste

In [32]:
estados_do_nordeste = ['ma', 'pi', 'ce','rn', 'pb', 'pe', 'al', 'se', 'ba']

In [33]:
df_estados_nordeste = localization_brazil[localization_brazil.Estados.isin(estados_do_nordeste)]

In [22]:
df_estados_nordeste.shape

(1870818, 3)

Exportando para Csv

In [82]:
df_estados_nordeste.to_csv("Bairros do Nordeste.csv")

### Relizando a Limpeza dos dados

In [34]:
df_estados_nordeste.isnull().sum()

Estados    0
Cidade     0
Bairro     0
dtype: int64

In [35]:
print(df_estados_nordeste.duplicated(keep="last").sum())

#Locais duplicados
df_estados_nordeste.loc[df_estados_nordeste.duplicated(['Cidade', "Bairro", "Estados"],keep="last")].iloc[1:10]

1050659

       Estados     Cidade                   Bairro
164518      ma  alcantara               acailandia
164519      ma  alcantara             afonso cunha
164520      ma  alcantara    agua doce do maranhao
164521      ma  alcantara                alcantara
164522      ma  alcantara            aldeias altas
164523      ma  alcantara     altamira do maranhao
164524      ma  alcantara  alto alegre do maranhao
164525      ma  alcantara   alto alegre do pindare
164526      ma  alcantara            alto parnaiba